@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.heart {
  animation: heart 1500ms infinite;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #1A1B23DE;
  --md-typeset-a-color:         #b1b9ed;
}

